.create-review {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 900px;

    padding-bottom: 24px;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__select {
        width: 100%;
    }
}